<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <title>Title</title>
</head>
<body>
<div class="header_inform"><p class="header_inform_text">Важная информация для зоны быстрого баннера</p></div>
<div class="user">
    {% if user.is_authenticated %}
    <a href="{% url 'account:profile' %}">{{ user }}</a>
    <a href="{% url 'account:logout' %}">Выход</a>
    {% else %}
    <a href="{% url 'account:register' %}">Регистрация</a>
    <a href="{% url 'account:login' %}">Войти в кабинет</a>
    {% endif %}
</div>
<table class="header_table">
    <tr>
        <td>
            <div class="header_logo">
                <a href="{% url 'main:main_page' %}"><img class="logo_img" src="{% static 'img/integral_logo.jpg' %}"
                                                          alt=""></a>
            </div>
        </td>
        <td>
            <div>
                <div>
                    <a href="#">О компании</a>
                    <a href="#">Оплата и доставка</a>
                    <a href="#">Гарантии</a>
                    <a href="#">Контакты</a>
                </div>
                <div class="div_search">
                    <form action="{% url 'main:search' %}">
                        <input class="search" type="search" name="q" minlength="1" placeholder="Поиск товаров">
                        <input class="button_search" type="submit" value="Найти">
                    </form>
                </div>
                <div>
                    <p style="margin: auto">Популярные запросы</p>
                </div>
            </div>
        </td>
        <td>
            <table>

                <tr>
                    <td>
                        <a href="{% url 'cart:cart_detail' %}">
                            <img class="cart_img" src="{% static 'img/cart.jpg' %}" width="100" height="60" alt="">
                            <div>
                                <h3 style="margin: auto">ВАША КОРЗИНА</h3>
                                {% with total_items=cart|length %}
                                {% if cart|length > 0 %}

                                <p style="margin: auto">В корзине {{ total_items }} товара, общая сумма
                                    ${{ cart.get_total_price }}</p>
                                {% else %}
                                <p style="margin: auto">Пока она пуста но это лекго исправить :)</p>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </a>
                    </td>

                </tr>
                <form action="{% url 'cart:call_back' %}" method="post">
                    <tr>
                        {% csrf_token %}
                        <td><input class="cart_phone" type="search" name="callback" placeholder="(0XX)XXX-XX-XX"
                                   maxlength="12" minlength="12"></td>
                    </tr>
                    <tr>
                        <td><input class="cart_phone_button" type="submit" value="Перезвоните мне"></td>
                    </tr>
                </form>

            </table>
        </td>
    </tr>

</table>
{% block content%}
<div>
    <ul class="menu">
        <a href="{% url 'main:category' %}">Все разделы</a>
        <li><a href=#>ТЕЛЕФОНЫ</a>
            <div class="submenu">
                <p><a href=#>Sudmenu 1</a></p>
                <p><a href=#>Sudmenu 1</a></p>
                <p><a href=#>Sudmenu 1</a></p>
            </div>
        </li>
        <li><a href=#>ПЛАНШЕТЫ</a>
            <div class="submenu">
                <p><a href=#>Sudmenu 2</a></p>
                <p><a href=#>Sudmenu 2</a></p>
                <p><a href=#>Sudmenu 2</a></p>
            </div>
        </li>
        <li><a href=#>ТВ, Аудио, Видео</a>
            <div class="submenu">
                <p><a href=#>Sudmenu 3</a></p>
                <p><a href=#>Sudmenu 3</a></p>
                <p><a href=#>Sudmenu 3</a></p>
            </div>
        </li>
        <li><a href=#>БЫТОВАЯ ТЕХНИКА</a>
            <div class="submenu">
                <p><a href=#>Sudmenu 4</a></p>
                <p><a href=#>Sudmenu 4</a></p>
                <p><a href=#>Sudmenu 4</a></p>
            </div>
        </li>
    </ul>
</div>


</div>
<div class="name_block">
    <h2 style="float: left">НОВИНКИ</h2>
    <a style="float: right" href="#">Все</a>
</div>
<div class="block_goods">
    {% for product in novelties %}
    <div>
        <img src="{{ product.preview.url }}" height="300" width="300" alt=""><br>
        <a href="{% url 'main:productdetail' product.id %}">{{ product.name }}</a><br>
        {% for category in product.category.all %}
        <a href="{% url 'main:catalog' category.id %}">{{ category }}</a>
        {% endfor %}
        <div style="display: flex">
            <h3>{{ product.price }}</h3>
            <form action="{% url 'cart:cart_add' product.id %}" method="post" style="margin-left: auto;">
                {{ cart_product_form }}
                {% csrf_token %}
                <input class="button_search" type="submit" value="Купить">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="name_block">
    <h2 style="float: left">СКОРО В ПРОДАЖЕ</h2>
    <a style="float: right" href="#">Все</a>
</div>
<div class="block_goods">
    {% for product in on_sale_soon %}
    <div>
        <img src="{{ product.preview.url }}" height="300" width="300" alt=""></br>
        <a href="{% url 'main:productdetail' product.id %}">{{ product.name }}</a><br>
        {% for category in product.category.all %}
        <a href="{% url 'main:catalog' category.id %}">{{ category }}</a>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<div class="name_block">
    <h2 style="float: left">НЕДАВНО СМОТРЕЛИ</h2>
    <a style="float: right" href="#">Все</a>
</div>
<div class="block_goods">
    {% for i in recently_viewed %}
    <div>
        <img src="{{ i.product.preview.url }}" height="300" width="300" alt=""></br>
        <a href="{% url 'main:productdetail' i.product.id %}">{{ i.product.name }}</a><br>
        <h3>{{i.product.price}}</h3>

        {% with total_items=favorites %}
        {% if i.product.id in favorites.get_all_products_id %}
        <a href="{% url 'cart:favorites_detail' %}"><p style="margin: auto">Уже в желаниях</p></a>
        <a href="{% url 'cart:favorites_remove' i.product.id %}">Удалить</a>
        {% else %}
        <form action="{% url 'cart:favorites_add' i.product.id %}" method="POST">
            {{ favorites_product_form }}
            {% csrf_token %}
            <input type="submit" value="Желание">
        </form>
        {% endif %}
        {% endwith %}

    </div>
    {% endfor %}
</div>

{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>